$bgColor: #F1F1F2;

// Button  color variables
$buttonColor1: #F1F1F2;
$buttonfontColor1: #193948;
$buttonColorHover1: #193948;
$buttonfontColorHover1:  #F1F1F2;
$buttonColor2: #193948;
$buttonfontColor2: #C0E6BA;
$buttonColorHover2: #C0E6BA;
$buttonfontColorHover2:  #193948;
$buttonShadowColor: #193948;

// Typography color variables
$headerTextColor: #193948;
$paraTextColor: #193948;

// Footer Typography color 
$footerHeaderText: #F1F1F2;
$footerParaText: #F1F1F2;
$footerSocialIconHover: #C0E6BA;

// Section bg color
$sectionColor: #A1D6E2;
$footerSectionColor: #193948;

// Icon color 
$materialIconsColor: #C0E6BA;

// Header and button on fixed color
$fixed-header-color: #C0E6BA;
$fixed-btn-color: #193948;
